@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

:root {
  --bg-main: #060606;

  --fg-main: #A50000;
  --fg-main2: #9F2C34;
  --fg-main3: #200000;

  --hb-time: 0; /* range 0-1, animate with js PLEASE*/
  /* --hb-count: 0; */
  --hb-first: true;

  font-family: "Qwigley", cursive;
  font-size: 2vw;
}

h1 {
  font-size: 10vw;
  margin-top:2vw;
  font-family: "Love Light", cursive;
  text-align: center;
}

h2 {
  font-size: 5vw;
  margin-bottom: 2.5vw;
  text-align: center;
}

h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  font-size: 3vw;
  margin-bottom: 0;
  margin-top:0;
}

@keyframes fade-in{
  from{
    opacity:0;
  }
  to{
  }
}

.dots{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color: #300;
}

.dots .outer {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;

  --pulse-max: max(110vw, 110vh);
  
  background-image:
    radial-gradient(circle at center,
      #fff var(--stop1),
      transparent var(--stop2)),
    radial-gradient(circle at center,
      #fff var(--stop1),
      transparent var(--stop2));

  --stop1: calc(0.000125 * var(--pulse-max));
  --stop2: calc(0.0025 * var(--pulse-max));

  background-size: calc(0.005 * var(--pulse-max)) calc(0.005 * var(--pulse-max));
  background-position: 0 0, calc(0.0025 * var(--pulse-max)) calc(0.0025 * var(--pulse-max));
  background-repeat: repeat;
  background-color: #000;
  filter: contrast(50) blur(0.01vw);
  mix-blend-mode: multiply;
}

.dots .inner {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  mix-blend-mode: multiply;
  background-color: #000;
}

.dots .inner2 {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  animation: fade-in 6s linear;

  background-image:
    radial-gradient(circle at 10% 10%, transparent calc(var(--hb-time) * var(--pulse-max) * 0.5 - 12vw / (var(--hb-time) + 0.1)), #fff calc(var(--hb-time) * var(--pulse-max) * 0.5 - 6vw / (var(--hb-time) + 0.1)), transparent calc(var(--hb-time) * var(--pulse-max) * 0.5)),
    radial-gradient(circle at 10% 10%, transparent calc((var(--hb-time) + 1) * var(--pulse-max) * 0.5 - 12vw / (var(--hb-time) + 1.1)), #fff calc((var(--hb-time) + 1) * var(--pulse-max) * 0.5 - 6vw / (var(--hb-time) + 1.1)), transparent calc((var(--hb-time) + 1) * var(--pulse-max) * 0.5))
    ;
  pointer-events:none;
}

@keyframes title-in {
  from {
    opacity: 0;
    transform: translateY(0.5vw);
    /* color: var(--bg-main); */
    filter: blur(4vw);
  }

  50% {
    opacity: 100%;
    /* color: var(--fg-main); */
    filter: blur(0.2vw);
  }

  to {
    opacity: 0;
    transform: translateY(-0.5vw);
    /* color: var(--bg-main); */
    filter: blur(4vw);
  }
}

.dots .notaname{
  position:absolute;
  left:0;
  right:0;
  top:0;
  text-align:center;
  font-size: 50vw;
  color: transparent;
  text-shadow: 0 0 1vw #fff;
  animation: title-in 3.0s cubic-bezier(0, 1, 1, 1);
  animation-fill-mode: both;
  animation-delay: 0.8s;
  pointer-events:none;
  z-index: 1;
}

.dots .dotheart{
  position:absolute;
  left:5%;
  width: 40vw;
  top:10%;
  bottom:10%;

  z-index: -2;

  background-image:url("Assets/heart.webp");
  filter: brightness(60%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;

  animation: fade-in 6s linear;
}

.contentmask{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 90%);
  background-size: 100% 100%;
  z-index: 0;
  pointer-events:none;
}

.content{
  animation: fade-in 2s linear;
  animation-delay: 4s;
  animation-fill-mode: both;
  opacity: 1;
  color:#600;
  z-index:1;
  position:absolute;
  left:50%;
  right:10%;
  top:10%;
  bottom:10%;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.content .box{
  text-align:center;
  padding: 2vw;
  width: min-content;
  border: 1px solid #600;
}

.content h1{
  padding-top:1vw;
  padding-bottom:0vw;
}

.content h2{
  padding-top:0.5vw;
  padding-bottom:0vw;
}
