@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

:root {
  --bg-main: #060606;

  --fg-main: #A50000;
  --fg-main2: #9F2C34;
  --fg-main3: #200000;

  --hb-time: 0; /* range 0-1, animate with js PLEASE*/
  /* --hb-count: 0; */
  --hb-first: true;

  font-family: "Qwigley", cursive;
  font-size: 24px;
}

h1 {
  font-size: 80px;
  font-family: "Love Light", cursive;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin-bottom: 24px;
  text-align: center;
}

h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  font-size: 28px;
  margin-bottom: 12px;
}

.dots{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color: #300;
}

.dots .outer {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;

  --pulse-max: max(110vw, 110vh);
  
  background-image:
    radial-gradient(circle at center,
      #fff var(--stop1),
      transparent var(--stop2)),
    radial-gradient(circle at center,
      #fff var(--stop1),
      transparent var(--stop2));

  --stop1: calc(0.00025 * var(--pulse-max));
  --stop2: calc(0.005 * var(--pulse-max));

  background-size: calc(0.01 * var(--pulse-max)) calc(0.01 * var(--pulse-max));
  background-position: 0 0, calc(0.005 * var(--pulse-max)) calc(0.005 * var(--pulse-max));
  background-repeat: repeat;
  background-color: #000;
  filter: contrast(50) blur(0.01vw);
  mix-blend-mode: multiply;
}

.dots .inner {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  mix-blend-mode: multiply;
  background-color: #000;
}

.dots .inner2 {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  background-image:
    radial-gradient(circle at 10% 10%, transparent calc(var(--hb-time) * var(--pulse-max) * 0.5 - 8vw / (var(--hb-time) + 0.01)), #fff calc(var(--hb-time) * var(--pulse-max) * 0.5 - 4vw / (var(--hb-time) + 0.01)), transparent calc(var(--hb-time) * var(--pulse-max) * 0.5)),
    radial-gradient(circle at 10% 10%, transparent calc((var(--hb-time) + 1) * var(--pulse-max) * 0.5 - 8vw / (var(--hb-time) + 1.01)), #fff calc((var(--hb-time) + 1) * var(--pulse-max) * 0.5 - 4vw / (var(--hb-time) + 1.01)), transparent calc((var(--hb-time) + 1) * var(--pulse-max) * 0.5))
    ;

  background-size: 100% 100%, calc(100% * (1-var(--hb-first))) calc(100% * (1-var(--hb-first)));
}
